
@{
    ViewBag.Title = "CookieTest";
}

@section scripts {
	<script type="text/javascript">
		$(function () {
			$('#start-test').click(function () {
				var i = 0;
				while (i < 1000) {
					$.ajax({
						url: "/api/values/getnewcookie?rnd=" + i,
						beforeSend: function (xhr, settings) {
							xhr.setRequestHeader("X-Custom-Header", $.cookie("test"));
						}
						//headers: { "X-Custom-Header": $.cookie("test") }
					}).done(function(data) {
						$('#results').append('<br/><span>Done: ' + data + '</span>');
					}).fail(function(jqXHR, status, error) {
						$('#results').append('<br/><span style="color: red">ERROR: ' + error + ': ' + status + '</span>');
					});

					i++;
				};
			})
		});
	</script>
}
<h2>CookieTest</h2>

<a id="start-test">Start</a>

<div id="results"></div>