
@{
    ViewBag.Title = "CookieTest";
}

@section scripts {
	
}
<h2>CORS Test</h2>

<a id="post-test">POST to app1.foo.com</a><br/>
<a id="get-test">GET to app1.foo.com</a><br/>

<div id="results"></div>