<div class="jumbotron">
    <h1>Brian's MVC Prototype App</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Test applications</h2>
        <ul>
			<li><a href="~/Home/Identity">Identity</a> - run the authentication tests.</li>
			<li><a href="~/Home/CookieCycle">Cookie Cycling</a> - runs through many iterations to see if setting cookies interferes with the CSRF approach.</li>
			<li><a href="~/Home/CORS">CORS Test</a> - runs through CORS examples.</li>
		</ul>
    </div>
	<div class="col-md-4">
		<h2>Test applications</h2>
		<ul>
			<li><a href="~/Home/Scrap">Scrap Page</a> - a pile of random tests.</li>
		</ul>
	</div>
</div>
