<h3>Dev</h3>
<form action="http://uslx468.intranet.local:4502/content/corporate/amway-login/routing/jcr:content.html" method="post">
	<input name="RelayState" type="text" value="Text" />
	<input type="submit" />
</form>

<h3>Localhost</h3>
<form action="http://localhost:4502/content/corporate/amway-login/routing/jcr:content.html" method="post">
	<input name="RelayState" type="text" value="Text" />
	<input type="submit" />
</form>